.forum-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
    top: 0;
    width: 45vw;
    height: 100vh;
    z-index: 1000;

    transform: translateX(calc(100% - 25px));
    transition: transform 0.3s ease-in-out;
}

.forum-container.is-open {
    transform: translateX(0);
}

.forum-close-button {
    position: relative;
    top: 50%;
    width: 25px;
    height: 40px;
}

.forum {
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
}
