.forum-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    right: 0;
    top: 125px;
    width: 50vw;
    max-width: 600px;
    z-index: 1000;
}

.forum {
    width: 100%;
    min-height: 750px;
    padding: 20px;
    background-color: seagreen;
    border-radius: 8px;
    border: 6px solid black;

    transform: translateX(calc(85%));
    transition: transform 0.3s ease-in-out;
}

.forum.is-open {
    transform: translateX(0);
}

.forum-close-button {
    display: none;
}

.forum-close-button.is-visible {
    display: block;
    height: 50px;
    width: 35px;
}
