.messages-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: 0;
    top: 175px;
    width: 32vw;
    max-width: 400px;
    z-index: 1000;
}

.messages {
    width: 100%;
    min-height: 700px;
    padding: 20px;
    background-color: lightslategray;
    border-radius: 40px;
    border: 6px solid black;

    transform: translateX(calc(-85%));
    transition: transform 0.3s ease-in-out;
}

.messages.is-open {
    transform: translateX(0);
}

.messages-close-button {
    display: none;
}

.messages-close-button.is-visible {
    display: block;
    height: 50px;
    width: 35px;
}
